<div class="container">
    <form [formGroup]="resourceFormGroup">
        <input type="text" formControlName="name" placeholder="Name">
        <input type="text" formControlName="faculty" placeholder="Faculty">
    </form>
    <div class="button-box">
        <button (click)="onClickCreate(resourceFormGroup.valid, resourceFormGroup.value);">Create</button>
    </div>
</div>
<div class="container">
    <ul>
        <li *ngFor="let resource of resources; let i = index;"> {{ resource.name }} {{ resource.faculty }} <button (click)="onClickEdit(resource);">Edit</button></li>
    </ul>
</div>